.Products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #deb887;
}

@media screen and (max-width: 1200px) {
  .Products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .Products {
    grid-template-columns: repeat(1, 1fr);
  }
}
