.Card {
  text-align: center;
  width: 350px;
  height: 450px;
  margin: 10px;
  background-color: white;

  .Favoured {
    font-size: 1.4em;
    font-weight: bold;
    color: red;
  }

  img {
    height: 320px;
    width: 320px;
  }
}
