.Carousel__Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  position: relative;
  background-color: #deb887;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
}

.Button {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}

.Button__left {
  position: absolute;
  left: 0;
}

.Button__right {
  position: absolute;
  right: 0;
}

.Button:hover {
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .Carousel__Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .Carousel__Grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
